body {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.contenido {
  width: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
  flex: 1;
}

header {
  background-color: #26099b;
  color: #fff;
  height: 100px;
}

.disney_marca {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.disney_marca h1 {
  margin: 0;
}

.disney_marca p {
  align-self: flex-end;
  margin: 5px 20px 0 0;
}

.cancelacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icono {
  font-size: 2rem;
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datos p {
  margin: 0;
}

span {
  font-weight: bold;
}

.titulo__seccion {
  border-bottom: 2px solid #26099b;
  margin: 0 30px 30px 30px;
}

.titulo__seccion p {
  display: inline-block;
  padding: 9px 12px;
  background-color: #26099b;
  border-radius: 2px;
  margin: 0px;
  color: #fff;
}

.seccion_producto {
  margin-top: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #26099b;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

footer p {
  margin: 0;
}
